:root {
  --jumbotron-padding-y: 3rem;
}

.main-hero {
  max-width: 100%;
  height: auto;
}

.jumbotron {
  background-image: url('/image/hero-main.jpg');
  background-size: cover;
  height: 768px;
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #D6A99A;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.logo-site {
  width: 26px;
  height: 26px;

}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
