<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About Us</h4>
          <p class="text-muted">We are a company focused on complete end to end planning of your travel needs. So sit back and relax, while you're with us.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/MS-Galaxy-Tours-Travel-307698320024512" target="_blank" class="text-white">Like us on Facebook!</a></li>
            <li><a href="mailto:contact@msgalaxy.com.co?Subject=Hello" target="_top" class="text-white">Email us!</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="https://slackd.github.io/ms-galaxy-travels-site/" class="navbar-brand d-flex align-items-center">
            <img class="logo-site" src="image/logo-site.png" alt="Logo">
            <strong> &nbsp; MS Galaxy Tours & Travels</strong>
          </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    </div>
  </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">MS Galaxy Tours & Travels</h1>
      <p class="lead text-muted">We are a company focused on complete end to end planning of your travel needs. So sit back and relax, while you're with us.</p>
      <p>
        <a href="mailto:contact@msgalaxy.com.co?Subject=Hello" target="_top" class="btn btn-outline-secondary">Email Us</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <h1 class="border-bottom headfounder">Our Services</h1>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-images" src="image/flight.jpg" alt="Logo">
            <div class="card-body ">
              <p class="card-text">Online Booking Hassles? Use our personalized service and we will ensure a pain free booking experience.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Flight Reservation</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-images" src="image/bus-train.jpg" alt="Logo">
            <div class="card-body">
              <p class="card-text">No need to wait at the long and messy queues. We will handle the complex bits, you enjoy your travel.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Train & Bus Tickets</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-images" src="image/accom.png" alt="Logo">
            <div class="card-body">
              <p class="card-text">Make every city you visit, your home. With our extensive selection of accomodation options.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Accomodation</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-images" src="image/corp-travel.png" alt="Logo">
            <div class="card-body">
              <p class="card-text">Travelling for work? No worries! We will ensure you reach that you never miss, that important pitch!</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Corporate Travel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-images" src="image/visa.jpg" alt="Logo">
            <div class="card-body">
              <p class="card-text">Require a VISA for studying / travelling abroad? We will take care of your every whim! No headache!</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Visa Approval Assistance</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-images" src="image/rental.png" alt="Logo">
            <div class="card-body">
              <p class="card-text">Family Trip?, New in the City?. We've got you covered, with our extensive car and bike rentals!</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Rental Car & Bike Service</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-images" src="image/umra.jpg" alt="Logo">
            <div class="card-body">
              <p class="card-text">Pilgrimage. Let us arrange everything on your behalf, so that you reach your destination faster.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Umra & Haj Services</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-images" src="image/exchange.png" alt="Logo">
            <div class="card-body">
              <p class="card-text">Wondering where to go to exchange your money at the best rates!. Don't fret! We are there to help.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Currency Exchange Services</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-images" src="image/docu.jpg" alt="Logo">
            <div class="card-body">
              <p class="card-text">It's Official. Any documents need to be notorized? Any Legal paperwork needs? We are there to guide you.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Document & Attsn. Services</button>
                </div>
              </div>
            </div>
          </div>
        </div>

</main>

<div class="container founders">
  <div class="row align-items-center">
    <h1 class="border-bottom headfounder">Meet the Founders!</h1>

    <div class="row mb-2">
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">
               <a class="text-dark" href="#">Mohammed Immad</a>
             </h3>
            <div class="mb-1 text-muted">Co-founder</div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>

          </div>
          <img class="card-images" src="image/imaad.jpg" alt="M. Imaad">
         </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <h3 class="mb-0">
               <a class="text-dark" href="#">Syed Tanveer Qazi</a>
             </h3>
              <div class="mb-1 text-muted">Co-founder</div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>

            </div>
            <img class="card-images" src="image/syed.jpg" alt="Syed T.">
         </div>
          </div>
        </div>
      </div>
    </div>
  </div>
